button {
  font-size: 24px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.Hover:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

table,
th,
td {
  border: 1px solid white;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: rgb(210, 210, 210);
}
